In [1]:
from Data.episode_load import EpisodeLoader

In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('Data/google_predictions/google_predictions.csv')

In [15]:
df

,label_1,label_h,label_q,peaks_1,peaks_h,peaks_q,price,reversed_1,reversed_h,reversed_q,time,valleys_1,valleys_h,valleys_q
0,0.666034,0.575741,0.529304,0.121954,0.154976,0.228976,346.48,0.380039,0.495599,0.462447,2019-06-26 14:50:00+00:00,0.066181,0.306723,0.215532
1,0.663309,0.583041,0.548572,0.114527,0.155285,0.261742,346.76,0.354352,0.501889,0.488897,2019-06-26 14:51:00+00:00,0.068652,0.311139,0.203330
2,0.666498,0.574192,0.509659,0.111725,0.156097,0.236629,346.46,0.378399,0.483167,0.480658,2019-06-26 14:52:00+00:00,0.076021,0.311363,0.215989
3,0.692223,0.569581,0.505616,0.108483,0.153518,0.211821,346.03,0.314756,0.487168,0.495519,2019-06-26 14:53:00+00:00,0.061131,0.314560,0.235042
4,0.694340,0.578350,0.513672,0.102925,0.150696,0.191853,345.72,0.321117,0.471520,0.472932,2019-06-26 14:54:00+00:00,0.056827,0.313540,0.238623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251720,0.572146,0.462709,0.531397,0.149160,0.231028,0.310325,133.04,0.396744,0.495801,0.526346,2019-12-18 23:16:00+00:00,0.125318,0.355768,0.285154
251721,0.580537,0.458520,0.478960,0.130169,0.225503,0.294064,132.92,0.382830,0.473848,0.549121,2019-12-18 23:17:00+00:00,0.131518,0.376262,0.299584
251722,0.589173,0.450971,0.457866,0.116674,0.191028,0.280230,132.79,0.385033,0.505809,0.553724,2019-12-18 23:18:00+00:00,0.107974,0.386059,0.295117
251723,0.589566,0.460880,0.428123,0.122697,0.178810,0.260412,132.80,0.382072,0.505869,0.559306,2019-12-18 23:19:00+00:00,0.100707,0.392478,0.291184
251724,0.606276,0.471114,0.434493,0.106086,0.175456,0.287492,132.62,0.370097,0.444754,0.545832,2019-12-18 23:20:00+00:00,0.094308,0.354151,0.292940

In [4]:
df2 = pd.read_csv('Data/candles/candles.csv').iloc[:,1:]

In [5]:
new_ground_truth = [df, df2]

In [6]:
new_truth = pd.concat(new_ground_truth, axis = 1)

In [7]:
new_truth.to_csv('Data/ground_truth/ground_truth.csv', index = False)

In [11]:
loader = EpisodeLoader('Data/ground_truth/', episode_length = 10000)

In [12]:
loader.get_episode()

,peaks_0.5,valleys_0.5,peaks_0.25,valleys_0.25,peaks_1,valleys_1,peaks_2,valleys_2,label_0.25,reversed_label_0.25,...,reversed_label_0.5,label_1,reversed_label_1,label_2,reversed_label_2,reg_labels_0.25,reg_labels_0.5,reg_labels_1,reg_labels_2,price
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.44,2.13,2.13,-3.52,173.95
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.44,2.18,2.18,-3.52,173.90
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.48,2.17,2.17,-3.48,173.91
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.50,2.24,2.24,-3.57,173.84
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.47,2.21,2.21,-3.49,173.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.46,-0.82,-1.59,3.47,158.29
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.91,0.84,-1.67,3.17,158.13
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.90,0.90,-1.61,3.22,158.07
9998,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.84,0.84,3.99,3.21,157.99
9999,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.88,0.88,-1.63,3.20,158.09

In [13]:
loader.candles

      bar:open  bar:close  bar:high  bar:low
0       173.93     173.95    174.04   173.87
1       173.94     173.90    174.05   173.90
2       173.94     173.91    173.96   173.89
3       173.91     173.84    173.95   173.83
4       173.84     173.87    173.87   173.81
...        ...        ...       ...      ...
9995    158.27     158.29    158.30   158.20
9996    158.27     158.13    158.28   158.11
9997    158.14     158.07    158.17   158.02
9998    158.03     157.99    158.09   157.94
9999    157.99     158.09    158.10   157.92

[10000 rows x 4 columns]